body{
  font-family: 'Montserrat';
}
#title{
  background-color: #ff4c68;
}
.h1-1{
  font-family: 'Montserrat-black', sans-serif;
  font-size: 3rem;
  line-height: 2;

  color: #fff;


}
.container-fluid{
  padding: 3% 15%;

}
.navbar{
  padding: 0 0 4rem 0;

}
.navbar-brand{
  font-family: 'Ubuntu',sans-serif;
  font-size: 2.5rem;
  font-weight: bold;

}
.nav-item{
  padding: 0 15px 0;

}
.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat-Light';
}
.main-image{
  width: 50%;
  transform: rotate(20deg);
  padding-top: 20px;

}
.download-buuton{
  margin: 5% 3% 5% 0;
}
.h3-1{
  font-family: 'Montserrat-bold';
  font-size: 1.5rem;
  }
.mid-icons.fas{
  display: block;
  color: #ef8172;
  font-size: 5rem;
  margin-bottom: 1rem;

}
.fas:hover{
  color: #ff4c68;
}
#features{
  padding: 7% 15%;
  text-align: center;
}
.p-features{
  width: 40%;
  margin: auto;
  color: #8f8f8f;
}
